@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}
.text-lightgray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main > section{
    margin-top: 85px;
}
.section-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}


/* header styles */


/* navbar styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar, .banner, main{
    max-width: 1440px;
    margin: 0 auto;
}





/* banner styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
}

.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}

.banner-description{
    padding-bottom: 2rem;
}

.banner-img{
    width: 100%;
}


/* team and feature related styles */

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    max-width: 31.25rem;
    margin-left: 130px;
}

#quick-list{
    font-weight: 500;
}
#feature{
    color: #FF900E;
}

/* Feature section related style */

.feature-sec{
    gap: 140px;
}
#feature-sec-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-top:0px;
    margin-bottom: 0px;
}
.feature-card .feature-card-tittle{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.28);
    margin-bottom: 20px;
}
#exp-badge{
    padding: 40px 45px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#exp-year{
    font-size: 4rem;
    font-weight: 600;
}

/* some fact related style */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-dis{
    margin-top: 10px;
    width: 540px;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 50px;
}


/* sponsor related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(90%)
}

/* footer */

footer{
  max-width: 1440px;
  background-color: #d8cec3;
  margin: 100px auto;      
  padding: 2px;       
  min-height: 16px;
}
.footer-txt{
    padding: 40px 400px;
}

/* responsive media query for phone*/
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .feature-sec{
        flex-direction: column;
    }

    .team-img-container,
    .fact-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-tittle,
    .fact-dis{
        max-width: 396px;
        text-align: center;
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 40px;
    }
    .our-feature{
        margin-left: 20px;
    }
    .feature-img img{
        width: 100%;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 6px;
    }
    footer {
    max-width: 300px;
    background-color: rgb(216, 206, 195);
    margin: 20px auto;
    padding: 2px;
    height: 73px;
    .footer-txt{
        padding: 4px 10px;
        font-size: 13px;
        text-align: center;
    }
}
}

/* responsive for tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin: 50px auto;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
    }
}




